<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>


<body>
    
    <div id="root" class="container">
        <h1>Todo-Leaf</h1>
        <div class="input-wrapper">
            <input type="text" v-model="todoInput" placeholder="Type your Todo Here!" @keyup.enter="addNewTodo()" >
            <input type="button" value="Add a new Leaf" @click="addNewTodo">
        </div>

        <div class="list-wrapper">
            <ul class="ul-wrapper">
                <li v-for="(element, index) in todoList">
                    {{ element }} 
                    <span class="delete-wrapper" @click="deleteTodo(index)">
                        <i class="fa-solid fa-recycle"></i>
                    </span>
                </li>
            </ul>


        </div>
    </div>

    <script src="app.js"></script>
</body>

</html>